<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/Banner-Heading-Image-images.css?h=4f3cfa46e40e236365345fc77963f4b8">
</head>

<body style="color: rgb(40,103,166);">
    <!-- Start: Banner Heading Image -->
    <section class="py-4 py-xl-5" style="color: rgb(49,94,139);">
        <!-- Start: 1 Row 2 Columns -->
        <div class="container" style="color: rgb(25,98,171);">
            <div class="bg-dark border rounded border-0 border-dark overflow-hidden">
                <div class="row g-0">
                    <div class="col-md-6" style="color: rgb(36,87,137);">
                        <div class="text-white p-4 p-md-5" style="color: rgb(38,35,174);">
                            <h2 class="fw-bold text-white mb-3" style="text-align: center;font-weight: bold;color: rgb(255, 255, 255);">Bienvenido a Consulting S.A.</h2>
                            <p class="mb-4" style="text-align: center;font-weight: bold;">Una vez registrado comenzará su prueba gratuita de 30 días, en ese lapso debe enviar un email desde nuestra web sección CONTÁCTENOS para  recibir los datos de nuestras cuentas bancarias.</p>
                            <div class="my-3"><a class="btn btn-light btn-lg" role="button" href="{%url 'registrarse'%}" style="text-align: center;transform: translate(176px);margin-bottom: -50px;">Continuar</a></div>
                        </div>
                    </div>
                    <div class="col-md-6 order-first order-md-last" style="min-height: 250px;"><img class="w-100 h-100 fit-cover" src="/static/assets/img/movmerc.png" width="558" height="415"></div>
                </div>
            </div>
        </div><!-- End: 1 Row 2 Columns -->
    </section><!-- End: Banner Heading Image -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>